.errorItem{
    FONT-WEIGHT: 300;
    color: white;
    background-color: rgb(235 0 0 / 73%);
    border-radius: 8px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}